{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 100,
	"arrowParens": "always",
	"bracketSpacing": true,
	"semi": true,
	"singleAttributePerLine": false,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteSortOrder": "options-scripts-markup-styles",
	"bracketSameLine": false,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
